#include <tunables/global>

profile {{slug}} flags=(attach_disconnected,mediate_deleted) {

  signal (send,receive) set=(kill,term),

  # S6-Overlay Kernel-Rights
  /init rix,
  /dev/null rw,
  /dev/urandom r,
  /dev/tty rw,

  /bin/** ix,
  /command/** ix,
  /package/** rix,
  
  # Netzwerk-Zugriff für Bashio/Curl (Supervisor API Check)
  network inet stream,
  network inet dgram,

  /etc/** r,
  /etc/services.d/** ix,
  /etc/cont-init.d/** ix,
  /etc/cont-finish.d/** ix,
  

  # Runtime & Verzeichnisse
  /run/ w,
  /run/** rwk,
  /run/{s6,s6-rc*,service}/** ix,

  # S6-Overlay Binaries
  /usr/bin/[^p]* ix,   # Erlaubt fast alles, was nicht mit p anfängt (z.B. sed, grep)
  /usr/bin/p[^y]* ix,  # Erlaubt Programme mit p, aber nicht py...
  /usr/lib/bashio/** ix,
  /data/** rw,
  /tmp/** rwk,
  
  # Bibliotheken und der Linker (Essenziell für Bash und S6)
  /lib/** mr,
  /usr/lib/** mr,
  
  # Spezifisch für den dynamischen Linker
  /lib/ld-*.so* mr,
  /lib/*/ld-*.so* mr,
  /usr/lib/ld-*.so* mr,

  # Entrypoint script run.sh
  /run.sh rix,
  /proxy-version.txt r,
  /home/proxy/server.py r,

  # Start new profile for service
  /usr/bin/python3* cx -> myprogram,

  profile myprogram flags=(attach_disconnected,mediate_deleted) {

    # 1. System & Libs
    /usr/** r,
    /etc/** r,

    /usr/lib/** mr,
    /lib/** mr,
    /usr/local/lib/** mr,

    # 2. App & HA Schnittstellen
    /home/proxy/ r,
    /home/proxy/** r,
    /home/translations/** r,
    /homeassistant/tsun-proxy/** rw,
    /data/** rw,             # Access to options.json and other files within your addon

    # 3. System-Info & Kernel
    /proc/self/** r,
    /proc/cpuinfo r,
    /sys/** r,               # Network-Test: Needed for Hw and platform detection
    
    # 4. Standard Hardware / Logs
    /dev/urandom r,
    /dev/tty rw,

    # 5. Netzwerk (aus der nameservice Abstraction unterstützt)
    network inet stream,
    network inet dgram,

    # Signale vom Hauptprofil empfangen
    signal (receive) peer=*{{slug}},
  }
}