{% extends 'base.html.j2' %}

{% block title %} TSUN Proxy - View {% endblock title%}
{% block menu2_class %}w3-blue{% endblock %}
{% block content %}
{% endblock content%}

{% block footer %}{% endblock footer %}

