{% extends 'base.html.j2' %}

{% block title %} TSUN Proxy - Warnings, Errors {% endblock title%}
{% block menu3_class %}w3-blue{% endblock %}
{% block headline %}<i class="fa fa-exclamation-triangle fa-fw"></i>  {{_('Warnings, Errors')}}{% endblock headline %}
{% block content %}
  <div id="notes-list"></div>
{% endblock content%}

{% block footer %}{% endblock footer %}
