{% extends 'base.html.j2' %}

{% block title %}{{_("TSUN Proxy - Important Messages")}}{% endblock title %}
{% block menu3_class %}w3-blue{% endblock %}
{% block headline %}<i class="fa fa-exclamation-triangle fa-fw"></i>  {{_('Important Messages')}}{% endblock headline %}
{% block content %}
  <div id="notes-list"></div>
{% endblock content%}

{% block footer %}{% endblock footer %}
