{% extends 'base.html.j2' %}

{% block title %}{{_("TSUN Proxy - Network Tests")}}{% endblock title %}
{% block menu5_class %}w3-blue{% endblock %}
{% block headline %}<i class="fa fa-file-export fa-fw"></i>  {{_('Network Tests')}}{% endblock headline %}
{% block content %}
  <div id="result-list"></div>
{% endblock content%}

{% block footer %}{% endblock footer %}
