{% extends 'base.html.j2' %}

{% block title %} TSUN Proxy - Downloads {% endblock title%}
{% block menu3_class %}w3-blue{% endblock %}
{% block headline %}<i class="fa fa-file-export fa-fw"></i>  {{_('Log Files')}}{% endblock headline %}
{% block content %}
  <div class="w3-container" id="file-list"></div>
{% endblock content%}

{% block footer %}{% endblock footer %}

