{% extends 'base.html.j2' %}

{% block title %} TSUN Proxy - Log Files {% endblock title%}
{% block menu3_class %}w3-blue{% endblock %}
{% block headline %}<i class="fa fa-file-export fa-fw"></i>  {{_('Log Files')}}{% endblock headline %}
{% block content %}
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content" style="width:600px">
      <div class="w3-container w3-padding-24">
        <h2>{{_("Do you really want to delete the log file")}}:<br><b><span id="id03"></span></b> ?</h2>
        <div class="w3-bar">
          <button id="id02" class="w3-button w3-red" onclick="deleteFile(); document.getElementById('id01').style.display='none'">{{_('Delete File</button')}}>
          <button class="w3-button w3-grey w3-right" onclick="document.getElementById('id01').style.display='none'">{{_('Abort')}}</button>
        </div>
      </div>
    </div>
  </div>

  <div id="file-list"></div>

  <script>
    function deleteFile() {
      fname = document.getElementById('id02').href;
      fetch(fname, {method: 'DELETE'})
        .then(fetch_data())
    }
  </script>
{% endblock content%}

{% block footer %}{% endblock footer %}

