# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main", "dev-*", "*/issue*" ]
    paths-ignore:
    - '**.md' # Do no build on *.md changes
    - '**.yml' # Do no build on *.yml changes
    - '**.yaml' # Do no build on *.yaml changes
    - '**.yuml' # Do no build on *.yuml changes
    - '**.svg' # Do no build on *.svg changes
    - '**.json' # Do no build on *.json changes
    - '**.cfg' # Do no build on *.cfg changes
    - '**.gitignore' # Do no build on *.gitignore changes
    - '**.dockerfile' # Do no build on *.dockerfile changes
    - '**.sh' # Do no build on *.sh changes     
  pull_request:
    branches: [ "main", "dev-*" ]

permissions:
  contents: read
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set timezone
      uses: szenius/set-timezone@v2.0
      with:
        timezoneLinux: "Europe/Berlin"
        timezoneMacos: "Europe/Berlin"
        timezoneWindows: "Europe/Berlin"
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-asyncio
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        #pytest app --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html
        python -m pytest app --cov=app/src --cov-report=xml
    - name: Analyze with SonarCloud
      uses: SonarSource/sonarcloud-github-action@v2.2.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        projectBaseDir: .
        args:
          -Dsonar.projectKey=s-allius_tsun-gen3-proxy
          -Dsonar.organization=s-allius
          -Dsonar.python.version=3.12
          -Dsonar.python.coverage.reportPaths=coverage.xml
          -Dsonar.tests=system_tests,app/tests
          -Dsonar.source=app/src
